<head>
    <title>Achieve! Full Steam.</title>
</head>
<body>
    <p><img src='<%= user.avatar %>' alt='Your Avatar Image' /></p>
    <p>ID: <%= user.id %></p>
    <p>Name: <%= user.displayName %></p>
</body>